# Get your own ad code URL from Adsterra dashboard
VITE_ADSTERRA_URL=//your-adsterra-url/invoke.js

# Get your Google Analytics ID (G-XXXXXXX) from Google Analytics dashboard
VITE_GA_ID=G-XXXXXXX
VITE_FORMSPREE_ID=
